@font-face {
    font-family: "Gistesy";
    src: url("Fonts/Gistesy.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

.gistesy-font {
    font-family: "Gistesy", cursive;
}